body {
    margin: 35px;
    font-family: 'Sandoll 명조Neo1', Constantia, serif;
    background-color: #fffffa;
    color: #9298cc;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #9298cc;
    text-decoration: none;
}

nav ul li a:hover {
    color: #9298cc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.center {
    text-align: center;
}
