@font-face {
    font-family: 'Constantia';
    src: url('constan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Onul 아티클 부리 Regular';
    src: url('Onul ArticleBuri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Constantia', 'Onul 아티클 부리 Regular', Kim jung chul Myungjo Regular;
    color: #9298cc;
}
