@font-face {
    font-family: 'Constantia'; /* 폰트 패밀리명 */
    src: url('constan.ttf') format('truetype'); /* 폰트 파일 경로 및 형식 */
    font-weight: normal; /* 폰트 두께 */
    font-style: normal; /* 폰트 스타일 */
    font-family: 'Onul ArticleBuri Regular';
    src: url('Onul ArticleBuri.ttf') format('truetype');
    font-weight: normal; /* 폰트 두께 */
    font-style: normal; /* 폰트 스타일 */
}

body {
    font-family: 'Constantiat', 'Onul ArticleBuri Regular', serif; /* 폰트 패밀리명을 사용하여 폰트를 적용 */
    /* 기타 스타일들 */
}
