@media (max-width: 1170px) {
.h1 {
  display: left;
  font-size: 25px;
  margin-left: 36px
   }
  
.logo {
  width: 90%;
  padding: 20px;
}
 
  .description {
    padding: 10px auto;
    text-align: center;
}
}


@media (min-width: 1171px) and (max-width: 1640px) {
.h1 {
  display: left;
  font-size: 35px;
  margin-left: 46px
   }
  
.logo {
  width: 90%;
  padding: 80px auto;
}
 
  .description {
    padding: 10px auto;
    text-align: center;
}
}

@media (min-width: 1641px) and (max-width: 2360px) {
.h1 {
  display: left;
  font-size: 35px;
  margin-left: 46px
   }
  
.logo {
  width: 90%;
  padding: 80px auto;
}
 
  .description {
    padding: 10px auto;
    text-align: center;
}
}

@media (min-width: 2360px) {
.h1 {
  display: left;
  font-size: 36px;
  margin-left: 45px
   }
  
.logo {
  width: 90%;
  padding: 80px auto;
}
 
  .description {
    padding: 10px auto;
    text-align: center;
}
}
