/* screen.css */

/* 모든 화면 크기에 대한 공통 스타일 */
nav ul {
    margin-left: 10%;
    text-align: left;
    white-space: nowrap;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    white-space: nowrap;
}

nav a {
    display: inline;
}

h1 {
    margin-left: 20%;
    text-align: left;
    white-space: nowrap;
}

.background { /* 클래스로 스타일을 지정한 요소에 배경 이미지를 설정 */
    background-image: url('로고.jpg');
    background-size: cover;
    height: 300px;
    margin-top: 50px;
}

#description {
    text-align: center;
    margin-top: 30px;
    font-size: 13pt;
    line-height: 20pt;
}

