/* screen.css */

/* 작은 화면에 대한 스타일 */
@media screen and (max-width: 599px) {
    nav ul {
        margin-left: 0; /* 네비게이션 메뉴 왼쪽 여백 제거 */
        text-align: left; /* 네비게이션 메뉴 왼쪽 정렬 */
    }

    nav ul li {
        display: inline-block; /* 네비게이션 메뉴 항목들을 가로로 배치 */
        margin-right: 10px; /* 항목들 사이 간격 조절 */
    }

    nav a {
        display: inline-block; /* 링크를 블록 요소로 변경하여 여백 지정 가능하도록 함 */
    }

    h1 {
        text-align: left; /* 헤더 왼쪽 정렬 */
    }

    #description {
        text-align: center; /* 설명 텍스트 가운데 정렬 */
    }

    #logo {
        margin: 80px auto; /* 로고의 상단 여백을 줄이고 가운데 정렬 */
        width: 100%; /* 로고 이미지의 너비를 100%로 설정하여 부모 요소에 맞게 조정 */
        max-width: 200px; /* 로고 이미지의 최대 너비를 200px로 제한 */
        height: auto; /* 높이 자동으로 조정 */
    }
}

/* 중간 크기의 화면에 대한 스타일 */
@media screen and (min-width: 600px) and (max-width: 1284px) {
    nav ul {
        margin-left: 0; /* 네비게이션 메뉴 왼쪽 여백 제거 */
        text-align: left; /* 네비게이션 메뉴 왼쪽 정렬 */
    }

    h1 {
        text-align: left; /* 헤더 왼쪽 정렬 */
    }

    #logo {
        margin: 40px auto; /* 로고의 상단 여백을 줄이고 가운데 정렬 */
        max-width: 200px; /* 로고 이미지의 최대 너비를 설정 */
        width: 100%; /* 로고 이미지의 너비를 최대 너비로 설정 */
    }
}

/* 큰 화면에 대한 스타일 */
@media screen and (min-width: 1285px) {
    h1 {
        text-align: left; /* 헤더 왼쪽 정렬 */
    }

    nav ul {
        margin-left: 0; /* 네비게이션 메뉴 왼쪽 여백 제거 */
        text-align: left; /* 네비게이션 메뉴 왼쪽 정렬 */
    }

    #description {
        text-align: center; /* 설명 텍스트 가운데 정렬 */
    }

    #logo {
        margin: 80px auto; /* 로고의 상단 여백을 줄이고 가운데 정렬 */
    }
}
