@font-face {
    font-family: 'Constantia';
    src: url('constan.ttf') format('truetype'),
    src: url('constan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Article Regular';
    src: url('Onul ArticleBuri Regular.ttf') format('truetype'),
    src: url('Onul-ArticleBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Constantia', 'Article Regular', serif;
    color: #9298cc;
}

#description {
    font-family: 'Constantia', 'Article Regular', serif;
    color: #9298cc;
}
